@{
    ViewBag.Title = "About";
}
@{
    ViewBag.Title = "Beneficios de Ser Monitor";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>

    <p>
        ¡Ser monitor académico es una experiencia enriquecedora que va más allá de la simple asistencia en el aprendizaje! Aquí te presentamos algunos de los beneficios que puedes disfrutar al convertirte en monitor:
    </p>

    <h3>1. Descuentos en la Matrícula:</h3>
    <p>
        Como reconocimiento a tu compromiso académico, muchos programas universitarios ofrecen descuentos en la matrícula para los monitores. Esta es una excelente oportunidad para aliviar la carga financiera de tus estudios y avanzar en tu carrera académica.
    </p>

    <h3>2. Desarrollo de Habilidades:</h3>
    <p>
        Ser monitor te brinda la oportunidad de desarrollar habilidades clave, como liderazgo, comunicación efectiva y resolución de problemas. Estas habilidades son invaluables en cualquier campo y te prepararán para el éxito en tu vida profesional.
    </p>

    <h3>3. Reconocimiento Académico:</h3>
    <p>
        Tu papel como monitor es reconocido en tu expediente académico, lo que puede destacarte frente a futuros empleadores y programas de posgrado. Es una forma tangible de demostrar tu compromiso con la excelencia académica.
    </p>

    <h3>4. Networking y Colaboración:</h3>
    <p>
        Convertirte en monitor te permite establecer conexiones significativas con profesores y otros monitores. Esta red puede ser invaluable para tu futuro académico y profesional, proporcionándote oportunidades de colaboración y mentoría.
    </p>

    <h3>5. Experiencia Práctica:</h3>
    <p>
        La experiencia como monitor te brinda una perspectiva única sobre el proceso educativo. Aprenderás a adaptarte a diferentes estilos de aprendizaje y a comunicar conceptos de manera efectiva, habilidades esenciales en cualquier entorno profesional.
    </p>

    <p>
        ¡Convertirse en monitor académico es más que un simple rol; es una oportunidad para crecer, aprender y contribuir positivamente al ambiente educativo!
    </p>

    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
            color: #343a40;
            margin: 0;
            padding: 0;
        }

        main {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: white;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h2, h3 {
            color: #ff0000; /* Títulos y subtítulos en rojo */
            font-weight: bold; /* Negrita */
        }

        p {
            line-height: 1.6;
        }
    </style>

</main>
