<style>
    main {
        text-align: center;
        max-width: 600px;
        margin: 0 auto;
    }

    address {
        font-size: 16px;
        line-height: 1.6;
        margin-bottom: 20px;
    }

    strong {
        color: red;
        font-weight: bold;
    }
</style>

<main aria-labelledby="title">
    <address>
        <strong>Universidad de Medellín</strong><br />
        +57 (604) 590 45 
        <br />
        +57 (604) 590 6999<br />
        Sede principal: Carrera 87 N° 30 – 65, Medellín – Colombia.<br />
        Sede Bogotá: Calle 57 # 9-52, Chapinero.<br /><br />

        <strong>Horario de atención:</strong><br />
        Lunes a viernes de 8:00 a. m. a 12:00 m. y de 2:00 p. m. a 6:00 p.m.
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:support@udem.edu.co">support@udem.edu.co</a><br />
    </address>
</main>
