@{
    ViewBag.Title = "Administración";
}

<h2>Administración</h2>

<div class="button-group">
    <a href="@Url.Action("Index", "Estudiantes")" class="btn btn-primary">CRUD de Estudiantes</a>
    <a href="@Url.Action("Index", "Postulacions")" class="btn btn-primary">CRUD de Postulaciones</a>
    
</div>

<style>
    body {
        background-color: #f8f9fa; /* Fondo gris claro */
        color: black; /* Texto negro */
        text-align: center; /* Centrar texto */
    }

    .button-group {
        margin-top: 20px; /* Añadir espacio superior entre el título y los botones */
    }

    .btn {
        background-color: red; /* Fondo rojo */
        color: white; /* Texto blanco */
        border: none; /* Sin borde */
        padding: 10px 20px; /* Ajustar el relleno */
        margin: 10px; /* Añadir espacio alrededor de los botones */
        text-decoration: none; /* Eliminar subrayado en enlaces */
        display: inline-block; /* Mostrar como bloque en línea */
        border-radius: 5px; /* Bordes redondeados */
    }
</style>