@{
    ViewBag.Title = "Administración";
}

<h2>Administración</h2>

<div class="button-group">
    <a href="@Url.Action("Index", "Estudiantes")" class="btn btn-primary">CRUD de Estudiantes</a>
    <a href="@Url.Action("Index", "Postulacions")" class="btn btn-primary">CRUD de Postulaciones</a>
    
</div>