<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">EMPRENDIMIENTO 4RI</h1>
        <p class="parrafo-general">
            Esta aplicación estaría diseñada para capturar, organizar y evaluar
            ideas de negocio que incluyan herramientas de la Cuarta Revolución
            Industrial (4RI) y que beneficien la transformación social
            y económica del país.
        </p>

        <p class="parrafo-1">
            ¡Construyamos Ideas, así contruimos un futuro!
        </p>

        <div class="botones">
            <button onclick="location.href='@Url.Action("MostrarLoginAdministrador", "Flux")'" type="button" class="btn btn-primary administrador-btn">Soy Administrador</button>
            <button onclick="location.href='@Url.Action("MostrarLoginEstudiante", "Flux")'" type="button" class="btn btn-primary usuario-btn">Soy Usuario</button>

        </div>

    </section>

</main>